.label {
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 22px;
  font-family: 'Exo';
  width: 300px;
  text-align: center;
  /* background: rgba(0, 0, 0, 0.7); */
  /* backdrop-filter: blur(2px); */
  transform: translateY(-50%);
  pointer-events: none;
}